root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = tab
tab_width = 4
curly_bracket_next_line = false
spaces_around_brackets = inside
spaces_around_operators = true
indent_brace_style = OTBS
continuation_indent_size = 8

[*.{yml,yaml}]
indent_style = space
indent_size = 2
continuation_indent_size = 4

[*.md]
trim_trailing_whitespace = false

